aip==1.0.0.5
alabaster==0.7.11
astroid==1.6.5
Babel==2.6.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bleach==2.1.3
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
cloudpickle==0.5.3
colorama==0.3.9
configparser==3.5.0
dask==0.18.1
decorator==4.3.0
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
functools32==3.2.3.post2
futures==3.2.0
html5lib==1.0.1
idna==2.6
imagesize==1.0.0
ipykernel==4.8.2
ipython==5.7.0
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.12.1
Jinja2==2.10.1
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
lazy-object-proxy==1.3.1
MarkupSafe==1.0
matplotlib==1.4.3
mccabe==0.6.1
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
numpy==1.9.2
numpydoc==0.8.0
opencv-python==3.1.0.0
packaging==17.1
pandocfilters==1.4.2
parso==0.3.0
pathlib2==2.3.2
pickleshare==0.7.4
Pillow==5.2.0
prompt-toolkit==1.0.15
psutil==5.4.6
pycodestyle==2.4.0
pyflakes==2.0.0
pygame==1.9.3
Pygments==2.2.0
pykinect==2.1
pylint==1.9.2
pyparsing==2.2.0
PyQt4==4.11.4
python-dateutil==2.7.3
python-xlib==0.23
pytz==2018.5
PyUserInput==0.1.11
PyWavelets==0.5.2
pywin32==216
pyzmq==17.0.0
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.4.2
requests==2.18.4
rope==0.10.7
scandir==1.7
scikit-image==0.11.3
scipy==1.1.0
selenium==3.11.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
some-package==0.1
Sphinx==1.7.5
sphinxcontrib-websupport==1.1.0
spyder==3.2.7
sympy==0.7.6
testpath==0.3.1
toolz==0.9.0
tornado==5.0.2
traitlets==4.3.2
typing==3.6.4
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
win-unicode-console==0.5
wrapt==1.10.11
xlrd==1.1.0
xlwt==1.3.0
